* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    background: linear-gradient(276deg,#91d250,#63107d,#f90e67);
    background-size: 180% 180%;
    animation: gradient-animation 21s ease infinite;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
}

h1 {
    color: whitesmoke;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 700;
    text-align: center;
}

img {
    max-width: 500px;
    padding: 10px;
}

p {
    color: whitesmoke;
    text-transform: uppercase;
    padding: 10px;
    font-weight: 700;
    text-align: center;
}

.message-1, .message-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px;
}

